body{
    background-color: rgb(255, 246, 224);
    color: black
}

h1{
    background-color: rgb(216, 217, 218);
    color: black;
}

h2{
    background-color: rgb(97, 103, 122);
    color: rgb(255, 246, 224);
}

footer{
    font-family: 'Courier New', Courier, monospace;
}