@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');


body {
    background-color: silver;
}

h1, h2 {
    text-align: center;
    border-bottom: solid 1px darkcyan;
}
p {
    text-align: center;
    font-family: 'Mooli', sans-serif;
}

@media (max-width: 400px) {
    p {
        background-color: pink;
    }
    img {
        display: none;
    }

}

